.titulo {
  font-size: 25px;
}

.tarjeta {
  background-color: #3366cc;
  color: white;
  text-align: center;
  height: 170px;
  padding-top: 25px;
  border-radius: 20px;
}

.icono {
  font-size: 50px;
}