<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon class="icono-header" name="arrow-back" routerLink="/" routerDirection="root"></ion-icon>
    </ion-buttons>
    <ion-title>Bark record</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icono-header filtro" name="filter-outline" routerLink="/filter" routerDirection="forward"></ion-icon>
      <span style="margin-right: 20px;" class="text"  name="filter-outline" (click)="navigateFilter()">Filter</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngFor="let bark of bark_data">
    <ion-card *ngIf="bark.newDay" class="new_day" style="margin-bottom: 30px;">
      <ion-card-content style="font-size: 20px;">
        <ion-icon style="margin-right: 10px;" name="today-outline"></ion-icon>
        <ion-label>NEW DAY</ion-label> 
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-bottom: 30px;" color="primary">
      <ion-item>
        <ion-icon name="paw-outline" slot="start"></ion-icon>
        <ion-label style="margin-left: 45px;">{{ parseDate(bark.date) }}</ion-label>
      </ion-item>
    
      <ion-card-content style="text-align: center; font-weight: bold;">
        Duration: {{ bark.duration }} seconds
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
